<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>serverAddrTest</key>
	<string>https://yolotest.yzhchain.com/</string>
	<key>serverAddr</key>
	<string>https://yoloserver.yzhchain.com/</string>
	<key>serverTest</key>
	<true/>
	<key>NIMKeyTest</key>
	<string>14f11c236ed7c56d576d251bbbad67cb</string>
	<key>NIMKey</key>
	<string>d62461f3a67a1f9eb1d8604b9ebea576</string>
	<key>NIMServerTest</key>
	<true/>
	<key>logToFile</key>
	<true/>
	<key>apiDebug</key>
	<true/>
	<key>apiLog</key>
	<true/>
</dict>
</plist>
