<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>logToFile</key>
	<false/>
	<key>apiDebug</key>
	<false/>
	<key>apiLog</key>
	<true/>
	<key>severTest</key>
	<false/>
	<key>severAddrTest</key>
	<string>http://192.168.0.107:3800</string>
	<key>severAddrRelease</key>
	<string>http://192.168.1.190:8084</string>
</dict>
</plist>
